/* Body Styling */
body { 
    background: #7CB9E8;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Navigation Bar Styling */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    display: inline-block;
    transition: 0.3s;
}

.navbar ul li a:hover {
    background-color: #7CB9E8;
    border-radius: 5px;
}


.grid {
    max-width: 800px;
    margin: auto;
}

.grid-item {
    width: 48%; /* Almost half of the container for two columns */
    margin-bottom: 10px;
    border-radius: 8px; /* Optional */
    width: calc(50% - 10*2px); /* Adjust width to account for margin */
    margin-right: 10px; /* Adds space between columns */
    margin-left: 10px; /* Adds space between columns */
}

.grid img {
    width: 100%;
    display: block;
    border-radius: 8px; /* Optional */
    pointer-events: none;
}

@media (max-width: 600px) {
    .grid-item {
        width: 100%; /* Full width for a single-column layout */
        margin-right: 0;
        margin-left: 0;
    }
}