body { 
    margin: 0;
    background: #7CB9E8;
    color: white;
    text-align: center;
}

img {
    max-width: 90%; /* Makes the image scale down */
    height: auto;
    pointer-events: none;
  }

  /* Style the Navigation Bar */
.navbar {
    background-color: #002147; /* Dark background */
    padding: 10px 0;
    text-align: center;
}

/* Style the Navigation List */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Style the Navigation Links */
.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    transition: 0.3s;
}

/* Hover Effect */
.navbar ul li a:hover {
    background-color: #7CB9E8;
    border-radius: 5px;
}

