body { 
    margin: 0;
    background: #7CB9E8;
    color: white;
    text-align: center;
}

img {
    max-width: 100%; /* Makes the image scale down */
    height: auto;
    pointer-events: none;
    user-drag: none;
  }